In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('/Users/abhisheksahu/Desktop/ml/carprice.csv')

In [3]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
# filtering given dataset
df1=df[["carlength","carwidth","carheight","enginesize","stroke","horsepower","price"]]
df1.head()

   carlength  carwidth  carheight  enginesize  stroke  horsepower    price
0      168.8      64.1       48.8         130    2.68         111  13495.0
1      168.8      64.1       48.8         130    2.68         111  16500.0
2      171.2      65.5       52.4         152    3.47         154  16500.0
3      176.6      66.2       54.3         109    3.40         102  13950.0
4      176.6      66.4       54.3         136    3.40         115  17450.0

In [5]:
# Making dataframe x(features) and y(target)
x=df1.drop('price',axis=1)

y=df['price']

In [6]:
# Using test-train-split method
X_train, X_test, y_train, y_test = train_test_split(
     x, y, test_size=0.20, random_state=0)

In [7]:
# using sklearn for linear regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

In [8]:
regression=LinearRegression()
regression.fit(X_train.values,y_train)
mse=cross_val_score(regression,X_train,y_train,scoring='neg_mean_squared_error',cv=5)
np.mean(mse)

-12305376.419848554

In [9]:
# predicting values for X_test
reg_pred=regression.predict(X_test.values)
reg_pred

array([ 6908.14425514, 19495.13627927, 14319.09491064,  -331.18271714,
       11186.80077406, 14473.78433093,  6523.07954814,  6652.09175128,
       23109.9355772 ,  6913.15839955, 16511.88175771, 38252.1472424 ,
        7335.664091  , 11355.3426179 ,  6134.96457622, 14473.78433093,
       12120.42807991, 19609.70293218,  9439.30610208,  6289.59410618,
       10854.24471616, 16836.62420195, 11566.71962524, 14473.78433093,
       21785.40288478,  8205.37725737,  7574.31570408, 16293.58729743,
        7537.26696132,  6589.43812118, 10220.92990636, 11303.80954233,
       20312.94548702, 12288.11355671,  6589.43812118, 26449.03511682,
        9675.75628026, 17232.46567857,  5702.05157874, 39442.37129564,
        6134.96457622])

In [10]:
# score
from sklearn.metrics import r2_score
score=r2_score(reg_pred,y_test)

In [11]:
score

0.7712904128254714

In [12]:
regression.score(X_test.values,y_test.values)

0.8075054591190335

In [13]:
# Predicting price for given data 
xtest={
"carlength" : 190.9,
"carwidth" :70.3,
"carheight" : 54.9,
"enginesize" : 183,
"stroke" : 3.64,
"horsepower":  123}
xtest=pd.DataFrame([xtest])
regression.predict(xtest.values)

array([22827.28511633])