In [1]:
import pandas as pd
import numpy as np

In [2]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [18]:
df=pd.DataFrame(exam_data)

# DataFrame with score <2

In [19]:
df1=df[df['score']<2]

# DataFrame with score >15

In [9]:
df2=df[df['score']>15]

# Joining both the DataFrames

In [13]:
df3=pd.concat([df1,df2])

In [14]:
df3

        name  score  attempts qualify
2  Katherine   16.5         2     yes
5    Michael   20.0         3     yes
9      Jonas   19.0         1     yes