part A

In [135]:
import pandas as pd
import numpy as np

In [136]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [137]:

data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/CarPrice_Assignment (1).csv')

In [139]:
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [140]:
data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [141]:
features = ['carlength', 'carwidth', 'carheight', 'enginesize', 'stroke', 'horsepower']
target = ['price']
dataset=data[features]
ds=data[target]

In [142]:
dataset.head()

   carlength  carwidth  carheight  enginesize  stroke  horsepower
0      168.8      64.1       48.8         130    2.68         111
1      168.8      64.1       48.8         130    2.68         111
2      171.2      65.5       52.4         152    3.47         154
3      176.6      66.2       54.3         109    3.40         102
4      176.6      66.4       54.3         136    3.40         115

In [143]:
ds.head()

     price
0  13495.0
1  16500.0
2  16500.0
3  13950.0
4  17450.0

In [144]:
 X_train, X_test, y_train, y_test = train_test_split(dataset, ds, test_size=0.20, random_state= 15)

In [145]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [146]:
y_pred = model.predict(X_test)

In [147]:
y_pred[ :10]

array([[17201.92592695],
       [21600.99711371],
       [16874.55566458],
       [12040.40572521],
       [ 5419.68075309],
       [16566.93126167],
       [ 6347.27623623],
       [ 6478.79291997],
       [ 7377.77608055],
       [ 6327.45936899]])

In [155]:
 accuracy = r2_score(y_test, y_pred)

In [156]:
accuracy

0.9115514571541794

In [157]:
model.score(X_train.values,y_train.values)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

0.8014754099154879

part B

In [151]:
personA_features = [[190.9, 70.3, 54.9, 183, 3.64, 123]]

In [152]:
predicted_price = model.predict(personA_features)[0]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [153]:
predicted_price

array([22247.98396481])